Oto wzór klasy Dto, klasa ‘UserEmailDto’.

```typescript

export type UserEmailDto = string;

```typescript

A oto odpowiadający jej wzorcowy schemat (schema) o nazwie UserEmailPropsSchema oraz wzorcowy typ UserEmailProps.
Schemat ma końcówkę ‘PropsSchema’, typ ma końcówkę ‘Props’.

```typescript

import { z } from 'zod';


export const UserEmailPropsSchema = z.object({
value: z.string(),
});


export type UserEmailProps = z.infer<typeof UserEmailPropsSchema>;

```typescript

Stwórz analogiczny schemat i typ dla klasy DTO o nazwie ‘$!{dtoTypeName}’.
Użyj nazw '$!{dtoProps}' i '$!{dtoPropsSchema}'.

```typescript

$!{dto_src}

```typescript

Zwróć wyłącznie wygenerowane typy, nie pisz dodatkowego komentarza.
