package $!{_test_package_name_};

import $!{_query_package_name_}.$!{_query_class_name_};

import com.pdv.alvorq.sql.db._util.TestPrepareTrxFactory;
import com.pdv.utensil.db.repo.RepoRuntimeException;
import com.pdv.utensil.db.trx.iface.Trx;
import lombok.extern.slf4j.Slf4j;
import org.junit.jupiter.api.Test;

import java.util.List;

@Slf4j
public class $!{_test_class_name_} {

    @Test
    public void test01() {
        try (Trx trx = TestPrepareTrxFactory.get().newTrx()) {
            List<$!{_query_class_name_}.$!{_query_entity_class_name_}> rslt = new $!{_query_class_name_}(trx).selectAll("");
            for($!{_query_class_name_}.$!{_query_entity_class_name_} qen: rslt) {
                log.info(qen.toString());
            }
            trx.commit();
        }
    }

}
