package $!{_repo_package_name_};

import $!{_entity_package_name_}.$!{_entity_class_name_};

import pl.org.opi.dbaccess.repo.BaseRepo;
import pl.org.opi.dbaccess.stmt.StmtGet;
import pl.org.opi.dbaccess.stmt.StmtSet;
import pl.org.opi.dbaccess.trx.Trx;

import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.util.ArrayList;
import java.util.List;
import java.util.concurrent.atomic.AtomicReference;

public class $!{_repo_class_name_} extends BaseRepo {

    public $!{_repo_class_name_}(Trx trx) {
        super(trx);
    }

    public void create($!{_entity_class_name_} en) {
        executeWrite(
$!{_insert_sql_}
                ,
                (stmt) -> {
                    entity2Stmt(en, stmt, false);
                }
        );
    }

    public $!{_entity_class_name_} createAndReturn($!{_entity_class_name_} en) {
        create(en);
        return findByKey(en.$!{_primary_key_getter_}());
    }

    public void update($!{_entity_class_name_} en) {
        executeWrite(
$!{_update_sql_}
                ,
                (stmt) -> {
                    entity2Stmt(en, stmt, true);
                }
        );
    }

    public List<$!{_entity_class_name_}> findAll() {
        List<$!{_entity_class_name_}> rsltList = new ArrayList<>();
        String sql = " $!{_find_all_sql_} ";
        executeSelect(sql,
                (stmt) -> {
                },
                (rs) -> {
                    while (rs.next()) {
                        $!{_entity_class_name_} en = new $!{_entity_class_name_}();
                        rs2Entity(rs, en);
                        rsltList.add(en);
                    }
                });
        return rsltList;
    }

    public $!{_entity_class_name_} findByKey(String key) {
        AtomicReference<$!{_entity_class_name_}> rslt = new AtomicReference<>();
        String sql = " $!{_find_by_key_sql_} ";
        executeSelect(sql,
                (stmt) -> {
                    stmt.setString(1, key);
                },
                (rs) -> {
                    if (rs.next()) {
                        $!{_entity_class_name_} en = new $!{_entity_class_name_}();
                        rs2Entity(rs, en);
                        rslt.set(en);
                    }
                });
        return rslt.get();
    }

    public $!{_entity_class_name_} findByAutoinc(long autoinc) {
        AtomicReference<$!{_entity_class_name_}> rslt = new AtomicReference<>();
        String sql = " $!{_find_by_autoinc_sql_} ";
        executeSelect(sql,
                (stmt) -> {
                    stmt.setLong(1, autoinc);
                },
                (rs) -> {
                    if (rs.next()) {
                        $!{_entity_class_name_} en = new $!{_entity_class_name_}();
                        rs2Entity(rs, en);
                        rslt.set(en);
                    }
                });
        return rslt.get();
    }

    private void entity2Stmt($!{_entity_class_name_} en, PreparedStatement stmt, boolean update) throws SQLException {
        int offset = 0;
        if (update) offset = -1;
        if (!update) StmtSet.setString(stmt, offset + 1, en.$!{_primary_key_getter_}());
$!{_entity2Stmt_}
        if (update) StmtSet.setString(stmt, offset + $!{_last_update_index_}, en.$!{_primary_key_getter_}());
    }

    protected void rs2Entity(ResultSet rs, $!{_entity_class_name_} en) throws SQLException {
$!{_rs2Entity_}
    }

}
